:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --milky-yellow: #FAF3DD;
    --milky-green: #D8E2DC;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--milky-yellow), var(--milky-green));
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}


/* ------------------ HOME.TSX CSS ------------------*/

.content-wrapper {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 24px;
    padding: 10px;
}

.header {
    font-style: italic;
}

.nameHolder {
    display: flex;
    /* background-color: aqua; */
    padding: 16px;
}

.functionButtons {
    display: flex;
    width: 100%;
    /* background-color: #535bf2; */
    padding: 16px;
}

.col {
    margin: 5px;
}

.nameHolderContent {
    margin: 5px;
}

.MyHobbyCardContainer {
    border-style: none !important;
    background-color: transparent !important;
}

.MyHobbyCard .card-body {
    text-align: left;
}

.MyHobbyCard .btn {
    width: 100%;
    text-align: center;
}

.full-width-button {
    width: 100%;
}

.nameHolderContent {
    background-color: transparent !important;
}


/* ------------------ CALCULATORBUTTON.TSX (COMPONENT) / CALCULATOR.TSX CSS ------------------*/

.calculatorWrapper {
    margin-top: 40px;
    background-color: #5a5a5a;
    width: 400px;
    border-radius: 16px;
    padding: 10px;
    border-style: solid;
}

.buttonWrapper {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: white;
    color: black;
    flex: 1;
    margin: 4px;
    border-radius: 25px;
}

.buttonWrapper:hover {
    background-color: darkgray;
}

.calcRow {
    display: flex;
}

.clearButton {
    width: 100%;
    border-radius: 25px !important;
    padding: 10px !important;
}


/* ------------------ INPUT.TSX CSS ------------------*/

.inputWrapper {
    height: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 16px;
}

.result {
    flex: 1;
    font-size: 24px;
}

.text {
    flex: 1;
    font-size: 18px;
}


/* ------------------ Hobby.TSX/HobbyCard.tsx CSS ------------------*/

@media (max-width: 768px) {
    /* .hobbyCardHolder {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .hobbyWrapper {
        margin-top: 50px !important;
    }
    /* .hobbyBody {
        width: 100%;
    }  */
    .hobbyBody .hobbyWrapper h1 {
        font-size: 5vw;
    }
    /* .hobbyCards{
        width: 1vw;
        height: 1vw;
    } */
}

.hobbyWrapper {
    margin-top: 20px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hobbyCardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hobbyCardContainer {
    width: 18rem;
    margin: 10px;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.hobbyCardContainer:hover {
    transform: translateY(-5px);
}

.hobbyCards {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: none !important;
    height: 300px !important;
    overflow: scroll !important;
}

.hobbyCards::-webkit-scrollbar {
    display: none !important;
}

.hobbyCards img {
    object-fit: cover;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hobbyCardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem
}

.hobbyBody {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
}

.hobbyBody .hobbyWrapper h1 {
    font-size: 5vw;
    width: 100%;
    font-style: italic;
}

.hobbyDescription {
    text-align: left;
}

.hobbyCardBody .hobbyName {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.hobbyCardBody .hobbyDescription {
    font-size: 1rem;
    text-align: justify;
}


/* ------------------ Hobby.TSX/HobbyCard.tsx CSS ------------------*/

@media (max-width: 768px) {
    /* .JSONCardHolder {
        flex-direction: column;
    } */
    .JSONWrapper {
        margin-top: 50px !important;
    }
    .JSONbody .JSONWrapper h1 {
        font-size: 5vw;
    }
}

.JSONWrapper {
    margin-top: 20px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.JSONCardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.JSONCardContainer {
    width: 18rem;
    margin: 10px;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.JSONCardContainer:hover {
    transform: translateY(-5px);
}

.JSONCards {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: none !important;
    height: 300px !important;
    overflow: scroll !important;
    text-align: left;
}

.JSONCards::-webkit-scrollbar {
    display: none !important;
}

.JSONCardBody {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    flex: 1;
    justify-content: left !important;
    align-items: left !important;
}

.JSONbody {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
}

.JSONbody .JSONWrapper h1 {
    font-size: 5vw;
    width: 100%;
    font-style: italic;
}